*{
  background-color: rgb(13, 15, 24);
}

img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 60%;
}

.header1{
  font-family: sofia-pro, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: orange;
}

.neon {
  font-family: sofia-pro, sans-serif;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 2rem;
}

.neon {
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@media (max-width: 600px) {
  .img {
    width: 90%;
  }
}
.joindiscord{
  color: azure;
  font-family: sofia-pro, sans-serif;
  font: normal;  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.iframe{
  display: flex;
}

.rights{
  font-family: sofia-pro, sans-serif;
  color: azure;
  margin-bottom: auto;
  text-align: center;
  font-weight: 300;
  font-size: .75rem;
}