* {
  background-color: rgb(13, 15, 24);
}

img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 60%;
}

.header1 {
  font-family: sofia-pro, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: orange;
}

.neon {
  font-family: sofia-pro, sans-serif;
  color: #fb4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #f40a35;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 2rem;
}

.neon {
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

@media (max-width: 600px) {
  .img {
    width: 90%;
  }
}
.joindiscord {
  color: azure;
  font-family: sofia-pro, sans-serif;
  font: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.iframe {
  display: flex;
}

.rights {
  font-family: sofia-pro, sans-serif;
  color: azure;
  margin-bottom: auto;
  text-align: center;
  font-weight: 300;
  font-size: 0.75rem;
}

.giphy-embed {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.ayo {
  color: azure;
  font-size: 40px;
  text-align: center;
}
